<div id="container">
  <div id="form">
    <h1>VIEW CUSTOMER PROFILE</h1>
    <form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <div>
          <label for="first">First Name: </label>
          <div
            *ngIf="showName"
            style="
              height: 45px;
              width: 468px;
              border: solid 4px red;
              margin-left: 57dvw;
              margin-top: 29.7dvw;
              position: fixed;
              overflow: absolute;
              z-index: 1;
            "
          ></div>
          <div class="field">
            <input
              type="text"
              id="first"
              formControlName="firstName"
              (focus)="pageChange(3)"
              (focus)="
                toggleName(false);
                toggleNid(true);
                toggleContact(true);
                toggleEmail(true);
                togglePermanentAddress(true)
              "
            />
            <!-- <button (click)="pageChange(3)">Locate</button> -->
          </div>
        </div>
        <div>
          <label for="last">Last Name: </label>

          <div class="field">
            <input
              type="text"
              id="first"
              formControlName="lastName"
              (focus)="
                pageChange(3);
                toggleNid(true);
                toggleName(false);
                toggleContact(true);
                toggleEmail(true);
                togglePermanentAddress(true)
              "
            />
            <!-- <button (click)="pageChange(3)">Locate</button> -->
          </div>
        </div>
      </div>
      <div class="input">
        <div>
          <label for="phone">Contact: </label>
          <div
            *ngIf="showContact"
            style="
              height: 38px;
              width: 130px;
              border: solid 4px red;
              margin-left: 69.3dvw;
              margin-top: -4.3dvw;
              position: fixed;
              overflow: absolute;
              z-index: 1;
            "
          ></div>
          <div class="field">
            <input
              type="text"
              id="first"
              formControlName="mobile"
              (focus)="
                pageChange(4);
                toggleContact(false);
                toggleName(true);
                toggleNid(true);
                toggleEmail(true);
                togglePermanentAddress(true)
              "
            />
            <!-- <button (click)="pageChange(4)">Locate</button> -->
          </div>
        </div>
        <div>
          <label style="padding-right: 28px" for="nid">NID: </label>
          <div
            *ngIf="showNid"
            style="
              height: 43px;
              width: 260px;
              border: solid 4px red;
              margin-left: 57dvw;
              margin-top: 0dvw;
              position: fixed;
              overflow: absolute;
              z-index: 1;
            "
          ></div>
          <div class="field">
            <input
              type="text"
              id="first"
              formControlName="nid"
              (focus)="
                pageChange(4);
                toggleNid(false);
                toggleContact(true);
                toggleName(true);
                toggleEmail(true);
                togglePermanentAddress(true)
              "
            />
            <!-- <button (click)="pageChange(4)">Locate</button> -->
          </div>
        </div>
      </div>
      <div class="input">
        <div>
          <label style="padding-right: 100px" for="email">Email: </label>
          <div
            *ngIf="showEmail"
            style="
              height: 38px;
              width: 150px;
              border: solid 4px red;
              margin-left: 76.7dvw;
              margin-top: -16dvw;
              position: fixed;
              overflow: absolute;
              z-index: 1;
            "
          ></div>
          <div class="field">
            <input
              type="text"
              id="first"
              formControlName="email"
              (focus)="
                pageChange(4);
                toggleNid(true);
                toggleContact(true);
                toggleName(true);
                toggleEmail(false);
                togglePermanentAddress(true)
              "
            />
            <!-- <button (click)="pageChange(3)">Locate</button> -->
          </div>
        </div>
        <div>
          <label style="padding-right: 70px" for="address"
            >Permanent Address:
          </label>
          <div
            *ngIf="showPermanentAddress"
            style="
              height: 64px;
              width: 460px;
              border: solid 6px red;
              margin-left: 56.6dvw;
              margin-top: -20.4dvw;
              position: fixed;
              overflow: absolute;
              z-index: 1;
            "
          ></div>
          <div class="field">
            <input
              type="text"
              id="first"
              formControlName="address"
              (focus)="
                pageChange(4);
                toggleNid(true);
                toggleContact(true);
                toggleName(true);
                toggleEmail(true);
                togglePermanentAddress(false)
              "
            />
            <!-- <button (click)="pageChange(4)">Locate</button> -->
          </div>
        </div>
        <button
          (focus)="
            pageChange(4);
            toggleNid(true);
            toggleContact(true);
            toggleName(true);
            toggleEmail(true);
            togglePermanentAddress(true)
          "
          routerLink="/userlist"
          type="submit"
          [disabled]="infoForm.invalid"
          [ngClass]="infoForm.valid ? 'enabled-btn' : 'disabled-btn'"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div id="file">
    <app-example-pdf-viewer
      [source]="source"
      [page]="currentPage"
    ></app-example-pdf-viewer>
  </div>
</div>
