<section>
  <div class="login-form">
    <div class="header">
      <img
        style="height: 48px; width: 48px"
        src="../../assets/images/logo.png"
        alt=""
      />
      <h2 style="padding-left: 19px">Login</h2>
    </div>

    <form #login="ngForm" (ngSubmit)="userLogin(login.value)">
      <div class="form-group">
        <label for="email">Username</label>
        <input type="text" id="username" name="email" [(ngModel)]="username" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Log In</button>
      <!-- routerLink="/dashboard" -->
    </form>
  </div>
  <div class="image-container">
    <img src="../../assets/images/banking.jpg" alt="" />
  </div>
</section>
