<h1 style="padding-bottom: 70px; padding: 10px">User List</h1>

<hr style="padding: 10px" />
<div class="container">
  <div class="user-info">
    <div class="info-item">
      <a
        routerLink="/info"
        style="text-decoration: none; color: inherit"
        href=""
        ><h5>Username:</h5></a
      >
      <p style="padding-top: 10px">Mehedi Hasan</p>
    </div>
    <div class="info-item">
      <h5>Email:</h5>
      <p style="padding-top: 10px">mehedisasm&#64;gmail.com</p>
    </div>
    <div class="info-item">
      <h5>Phone:</h5>
      <p style="padding-top: 10px">01785519804</p>
    </div>
    <div class="info-item">
      <h5>Address:</h5>
      <p style="padding-top: 10px">Muradnagar, Cumilla</p>
    </div>
  </div>
</div>
<hr style="padding: 10px" />
<hr style="padding: 10px" />
<div class="container">
  <div class="user-info">
    <div class="info-item">
      <a
        routerLink="/info"
        style="text-decoration: none; color: inherit"
        href=""
        ><h5>Username:</h5></a
      >
      <p style="padding-top: 10px">Mehedi Hasan</p>
    </div>
    <div class="info-item">
      <h5>Email:</h5>
      <p style="padding-top: 10px">mehedisasm&#64;gmail.com</p>
    </div>
    <div class="info-item">
      <h5>Phone:</h5>
      <p style="padding-top: 10px">01785519804</p>
    </div>
    <div class="info-item">
      <h5>Address:</h5>
      <p style="padding-top: 10px">Muradnagar, Cumilla</p>
    </div>
  </div>
</div>
<hr style="padding: 10px" />
<hr style="padding: 10px" />
<div class="container">
  <div class="user-info">
    <div class="info-item">
      <a
        routerLink="/info"
        style="text-decoration: none; color: inherit"
        href=""
        ><h5>Username:</h5></a
      >
      <p style="padding-top: 10px">Mehedi Hasan</p>
    </div>
    <div class="info-item">
      <h5>Email:</h5>
      <p style="padding-top: 10px">mehedisasm&#64;gmail.com</p>
    </div>
    <div class="info-item">
      <h5>Phone:</h5>
      <p style="padding-top: 10px">01785519804</p>
    </div>
    <div class="info-item">
      <h5>Address:</h5>
      <p style="padding-top: 10px">Muradnagar, Cumilla</p>
    </div>
  </div>
</div>
<hr style="padding: 10px" />
<hr style="padding: 10px" />
<div class="container">
  <div class="user-info">
    <div class="info-item">
      <a
        routerLink="/info"
        style="text-decoration: none; color: inherit"
        href=""
        ><h5>Username:</h5></a
      >
      <p style="padding-top: 10px">Mehedi Hasan</p>
    </div>
    <div class="info-item">
      <h5>Email:</h5>
      <p style="padding-top: 10px">mehedisasm&#64;gmail.com</p>
    </div>
    <div class="info-item">
      <h5>Phone:</h5>
      <p style="padding-top: 10px">01785519804</p>
    </div>
    <div class="info-item">
      <h5>Address:</h5>
      <p style="padding-top: 10px">Muradnagar, Cumilla</p>
    </div>
  </div>
</div>
<hr style="padding: 10px" />
<hr style="padding: 10px" />
<div class="container">
  <div class="user-info">
    <div class="info-item">
      <a
        routerLink="/info"
        style="text-decoration: none; color: inherit"
        href=""
        ><h5>Username:</h5></a
      >
      <p style="padding-top: 10px">Mehedi Hasan</p>
    </div>
    <div class="info-item">
      <h5>Email:</h5>
      <p style="padding-top: 10px">mehedisasm&#64;gmail.com</p>
    </div>
    <div class="info-item">
      <h5>Phone:</h5>
      <p style="padding-top: 10px">01785519804</p>
    </div>
    <div class="info-item">
      <h5>Address:</h5>
      <p style="padding-top: 10px">Muradnagar, Cumilla</p>
    </div>
  </div>
</div>
<hr style="padding: 10px" />
